name: Build

on:
  push:
    branches:
      - main

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    permissions: read-all
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0  # Shallow clones should be disabled for a better relevancy of analysis
      - name: Set up JDK 17
        uses: actions/setup-java@v1
        with:
          java-version: 17
      - name: Cache SonarQube packages
        uses: actions/cache@v1
        with:
          path: ~/.sonar/cache
          key: ${{ runner.os }}-sonar
          restore-keys: ${{ runner.os }}-sonar
      - name: Cache Maven packages
        uses: actions/cache@v1
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-m2
      - name: Build and analyze
        env:
          GITHUB_TOKEN: ${{ secrets.G_TOKEN}}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }}
        run: mvn -B verify org.sonarsource.scanner.maven:sonar-maven-plugin:sonar -Dsonar.projectKey=cycle-shop-rest-api -Dsonar.projectName='cycle-shop-rest-api'
      - name: Check Code Coverage
        run: |
          mvn jacoco:prepare-agent verify
          mvn jacoco:report
          coverage=$(grep -Po 'Total[^%]*\K[0-9.]+' target/site/jacoco/index.html)
          if (( $(echo "$coverage >= 80" | bc -l) )); then
            echo "Code coverage is above 80%"
          else
            echo "Code coverage is below 80%"
            exit 1  # Fail the workflow if coverage is below 80%
          fi
